.mainHeader {
    display: none;
    height: 72px;
    display: flex;
    padding: 12px 60px;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        width: 178px;
        height: 72px;
    }

    &__searchBar {
        position: relative;
        height: 72px;
        width: 657px;
        display: flex;
        align-items: center;
    }

    &__icons {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height: 72px;
        width: 215px;
    }

    &__input {
        background-color: #FEF6E7;
        height: 48px;
        width: 657px;
        border-radius: 10px;
        border: 0;
        padding-left: 24px;
        
        &::placeholder {
            color: $c-gray;
        }
    }

    &__magnifyingGlass{
        position: absolute;
        right: 22px;
        cursor: pointer;
    }

}
