.productsList {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1048px;
    margin: 0 auto;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $c-black;
    }

    &__categoria {
        background-color: green;
        height: 40px;
        width: 680px;
    }

    &__display {
        height: 470px;
        width: 100%;
        background-color: brown;
    }

    &__footer {
        height: 58px;
        width: 1048px;
        background-color: blueviolet;
    }

}