.topHeaderContainer {
    border-bottom: 1px solid #F0F0F0;
}

.topHeader {
    display: flex;
    max-width: 770px;
    height: 32px;
    background-color: #FFFF;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    font-size: 12px;
}

.topHeader__item {
    display: flex;
    align-items: center;
}

.topHeader__item--gray{
    color: #9F9F9F;
    font-weight: 400;
}

.topHeader__item--yellow{
    color: #FBB900;
    font-weight: 500;
}

.topHeader__icon {
    margin-right: 13px;
}