@import '../../variables.scss';

.categoryHeader {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 40px;
    background-color: #fff;
    border-bottom: none;
    border-radius: 0px 0px 10px  10px;
    
        &__list{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            margin: 11px 56px;
            text-decoration: none;
            outline: none;
        }
    
        &__item {
            display: flex;
            justify-content: space-between;
            list-style: none;
            font-weight: 600;
        }

        &__link{
            text-decoration: none;
            color: $c-gray;

            &:hover {
                color: $c-yellow;
            }
        }


}
