@import '../../variables.scss';

.categoryCarousel__container{
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.categoryCarousel__section{
    position: absolute;
    height: 418px;
    width: 100vw;
    background-color: blueviolet;
}
