.newProductsDisplay__container {
    height: 490px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.newProductsDisplay__imgHolder{
    height: auto;
    max-width: 100vw;
    position: absolute;
}

.newProductsDisplay__textButtonContainer{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newProductsDisplay__text {
    height: 180px;
    width: 387px;
    color: #fff;
    margin: 119px 749px 119px 144px;
}
