.newProductsDisplay {
    height: 490px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;

    &__imgHolder{
        height: auto;
        width: auto;
        position: absolute;
        margin-top: -10px;
        z-index: -1;
    }

    &__img{
        min-width: 100vw;
    }

    &__textButtonContainer{
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        height: 180px;
        width: 387px;
        color: #fff;
        margin: 119px 749px 119px 144px;
    }
}