/**
 * Define global styles for the application,
 * usually html and body content.
 */

html,
body {
  font-family: 'Poppins';
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
